<%= form_with(model: check_list, local: true) do |form| %>
  <%= render partial: 'partials/form_errors', locals: {model: form_question} %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
