<div class="button fa fa-arrow-left fa-lg">
  <%= link_to 'Back', check_lists_path, class: "btn btn-outline-dark", data: { confirm: 'Are you sure?' } %>
</div>

<div class="container">
  <div class="row">
    <div class="title col-md-10">
      <h1><%= @check_list.title %></h1>
  	  <h5><%= @check_list.description %></h5>
    </div>
  </div>
</div>

<%= render 'form', check_list: @check_list %>
