<div class="button fa fa-arrow-left">
  <%= link_to 'Back', form_path(@form_question.form), class: "btn btn-outline-dark", data: { confirm: 'Are you sure?' } %>
</div>

<h1>Editing Question</h1>

<%= render 'form', form_question: @form_question %>
