<div class="button fa fa-arrow-left fa-lg">
  <%= link_to 'Back', forms_path, class: "btn btn-outline-dark", data: { confirm: 'Are you sure?' } %>
</div>

<h1>Editing Form</h1>

<%= render 'form', form: @form %>
