#checklist-form {
    display: none;
}

#checklist-button {
    margin-bottom: 10px;
}

.list-button {
    float: right;
}

.middle-button {
  width: 40%;
  margin-left: 60%;
}

.title {
	text-align: center;
}

.color-strip {
  height: 1em;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}

.text-area {
  width: 100%;
  border: hidden;
}

.center {
  text-align: center;
}