.block-link {
  display: block;
}

.button {
  display: inline;
}

.form-btn {
  margin-bottom: 10px;
}

.placeholder::placeholder {
	font-weight: bold;
	font-size: 18px;
}

.border {
	border: hidden;
}
